<footer class="d-flex flex-column justify-content-center align-items-center fixed-bottom">
  <div class="d-flex justify-content-center align-items-center">
    <a href=""><i class="fa-brands fa-square-github text-white fs-1 mx-2"></i></a>
    <a href=""><i class="fa-brands fa-linkedin text-white fs-1 mx-2"></i></a>
    <a href=""><i class="fa-brands fa-square-facebook text-white fs-1 mx-2"></i></a>
  </div>
  <small class="text-secondary">Copyright© Hack Academy 2023</small>
</footer>
