<header class="bg-black">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Hack the blog</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="btn btn-primary" href="/admin">Admin</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
