<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="fade-in navbar-brand text-white fs-2" href="/">
      <img id="logo" src="/img/CPlogo.png" alt="Logo de Cerrando Pestañas" />
      Cerrando Pestañas</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-outline-info fade-in" href="/admin">Admin</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
