/* Colocar aquí CSS "propio" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to bottom, #1f1f27, #1b1b4f);
  position: relative;
}
#logo {
  max-height: 4rem;
  color: #ddd;
}
nav {
  /* From https://css.glass */
  background-color: rgb(27, 27, 79, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}
section,
main {
  padding: 6rem;
}
a {
  text-decoration: none;
  color: #1f1f27;
}
#btn-send {
  background-color: #2d2d3f;
}

#btn-send:hover {
  background-color: #4a4a58;
}
#addForm,
#articleContainer,
#editForm {
  box-shadow: 9px 16px 21px 11px rgba(0, 0, 0, 0.1), -18px -18px 19px 8px rgba(120, 50, 200, 0.1);
  border-color: rgb(128, 128, 145, 0.6) !important;
}
footer {
  background-color: rgb(45, 45, 63, 0.7);
  min-height: 5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/*      CALENDAR CSS      */
.calendar {
  border: 1px solid #ccc;
  background-color: #fff;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-weight: bold;
  background-color: #f2ec70;
}

.calendar-body {
  display: flex;
  flex-wrap: wrap;
}

.calendar-body .day {
  width: 14.28%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.calendar-body .day.today {
  background-color: #ddd;
}

.calendar-body .day.grayed-out {
  color: #ccc;
}

.calendar-body .day.number {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ddd;
}

.calendar-body .day.number:hover {
  background-color: #f5f5f5;
}
